html {
  --section-background-color: linear-gradient(to bottom left, #000000, #000000);

  --image-gradient: linear-gradient(to bottom left, #000000, #000000);

  --imp-text-color: #db5e1a;
}


.body {
  background-image: url("./assets/BACKGROUND.svg") !important;
}

.container {
  width: 100%;
  height: 50%;
}

/* https://pt.stackoverflow.com/questions/68928/como-estilizar-a-barra-de-rolagem */
/* Scroll*/

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #001412;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #db5e1a;
  border-radius: 12px;
}


/* --------- */
/* Navbar Section  */
/* --------- */

.sticky {
  background:#181a27;
}

.navLink {
  margin-left: 47%;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #db5e1a !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}

.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 4em !important;
  width: 4em !important;
}

.navbar-nav .nav-link {
  color: rgb(250, 250, 250)  !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
  .nav-link:hover {
    background-color: #db5e1a ;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 10px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #db5e1a;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}


/* Carrousel */

.carousel .carousel-item {
  height: 650px;
  color: black;
}

.carousel-item img {
  position: absolute;
  object-fit:cover;
  top: 0;
  left: 0;
  min-height: 500px;
  opacity: 0.8;
}

.carousel-item h3 {
  color: black;
  font-size: 4rem;
  font-weight: 2rem;
  text-decoration: underline;
  text-decoration-color: #db5e1a;
}

.carousel-item p {
  color: black;
  font-size: 2rem;
}


@media (max-width: 767px) {
  .carousel .carousel-item {
    height: 450px;
    color: black;
  }
  .carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 40px;
    left: 0;
    min-height: 500px;
    opacity: 0.8;
  }
  
  .carousel-item h3 {
    font-size: 2rem;
    font-weight: 2rem;
  }
  
  .carousel-item p {
    font-size: 1rem;
  }
}


/* Quem Somos */

#home {
  width: 100%;
  height: 700px;
  background-color: #db5e1a;
}

.heading {
  padding-top: 30px;
  width: 100%;
} 

.heading button{
  position: absolute !important;
  margin-top: 46% !important;
  width: 150px !important;
  margin-left: 20%;
} 

.heading h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 130px;
  line-height: 130px;
  letter-spacing: -0.015em;
  color:rgb(250, 250, 250);
}

.heading p{
  margin-top: 20px;
  width: 500px;
  height: 400px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color:rgb(250, 250, 250);
  /* or 160% */

  letter-spacing: -0.015em
}

@media (max-width: 1080px) {
  #home {
    background: #db5e1a ;
    width: 100%;
    padding: auto;
    height: 600px;
    padding: 10px;
  }

  .heading h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 85px;
    letter-spacing: -0.015em;
  }

  .heading p{
    width: 450px;
    height: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    margin-top: 15px;
    letter-spacing: -0.01em;
    color: white;
  }

  .heading button {
    position: absolute !important;
    margin-top: 450px !important;
    width: 150px !important;
    margin-left: 15%;
  }

}


@media (max-width: 767px) {
  #home {
    background: #db5e1a ;
    width: 100%;
    height: 620px;
  }

  .heading h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    letter-spacing: -0.015em;
  }

  .heading p{
    width: 450px;
    height: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: white;
  }

  .heading button {
    position: absolute !important;
    margin-top: 350px !important;
    width: 150px !important;
    margin-left: 25%;
  }
}


/* Letter */

.letter {
  width: 100% !important;
  margin-top: 20px !important;
}

.letterImg {
  position: absolute;
  width: 40%;
  margin-top: 10%;
  left: 0;
}

.letter h1{
  color: #E5E5E5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 10vw;
  line-height: 12vw;
  display: flex;
  justify-content: right;
  align-items: center;
  letter-spacing: 0.1em;
}

/* Diretrizes */
/* Diretrizes */


.border-dark {
  margin-top: 10px;
  border: 2px solid !important;
}

.card-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 2% !important;
}

.card-container :nth-child(2) {
  margin-top: 5% !important;
}

.img-diretrizes {
  width: 50%;
  left: 0;
  position: absolute;
}

.ctd {
  height: 500px !important;
}

@media (max-width: 1080px) {
  .ctd {
    margin-top: 60px !important;
  }

  .img-diretrizes {
    width: 50%;
    height: 350px;
    position: absolute;
    left: 0;
  }
}

@media (max-width: 767px) {
  .img-diretrizes {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
  }

  .card-container {
    position: absolute !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 300px !important;
  }
  
  .card-container :nth-child(2) {
    margin-top: 5% !important;
  }
}


/* Doações */
/* Doações */



.imgSeta3 {
  position: absolute;
  width: 60%;
  margin-top: -50px;
  right: 0;
}

.imgSeta4 {
  position: absolute;
  width: 25%;
  height: 25%;
  left: -3%;
}

.container-doacoes {
  width: 100% !important;
  background-color: #db5e1a !important;
  color: #E5E5E5;
  padding: 2rem 2rem;
}

.doacoes-button {
  margin-top: 15px;
  width: 40%;
  margin-left: 60%;
}

#text-doacoes {
  padding: 2rem 1rem;
}

#text-doacoes h1 {
  font-size: 4rem;
}

#text-doacoes p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;

  letter-spacing: -0.015em;
}

#img-doacoes {
  margin-top: 17% !important;
}

@media (max-width: 1080px) {

  .container-doacoes {
    padding: 1rem 1rem;
    margin-top: -50px;
  }

  .col-doador {
    display: flex !important;
    flex-direction: column !important;
  }

  .doacoes-button {
    width: 50%;
    margin-left: 45%;
  }

  #img-doacoes {
    margin-top: 5% !important;
  }

  #text-doacoes h1 {
    font-size: 3rem;
  }

  #text-doacoes p {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.01em;
  }
} 

@media (max-width: 767px) {
  .imgSeta{
    margin-top: 45%;
  }

  .imgSeta2{
    margin-top: 70%;
  }

  .container-doacoes {
    margin-top: 210px;
    padding: 1rem 1rem;
  }

  .col-doador {
    display: flex !important;
    flex-direction: column !important;
  }

  .doacoes-button {
    width: 50%;
    margin-left: 45%;
  }

  #img-doacoes {
    margin-top: 5% !important;
  }

  #text-doacoes h1 {
    font-size: 3rem;
  }

  #text-doacoes p {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.01em;
  }
} 

/* Atividades */
/* Atividades */

.title-atividades {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 150px;
  margin-top: 10%;
  letter-spacing: 0.03em;
  text-align: center;
}

@media (max-width: 767px) {

  .imgSeta3{
    margin-top: 1%;
  }

  .imgSeta4{
    margin-top: 0;
    width: 20%;
    height: 20%;
    left: 0;
  }

  .title-atividades {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    margin-top: 10%;
  }
}